*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width:100%
}

.original{
  height: 100%;
  width: 100%;
  position: relative;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
   height: calc(100% - 110px);
   background-color: #000000;
 
 }
