.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    width: 100%;
    border-top: 5px solid #0d72cb;
    height: 55px;
    background: #000000;
    padding: 0 2vw;
    color: white;

    
    font-size: 0.4vw;
  }
